* {
    box-sizing: border-box;
}

body {
    background-color: #ddffd0;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}
/* Center website */
.main {
    margin: auto auto auto auto; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10px;
    max-width: 75vw;

}

h1 {
    color: #111111;
    font-size: 50px;
    word-break: break-all;
    /*font-family:;*/
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgba(50, 98, 47, 0.47);
    padding: 10px;
    border-radius: 20px;
    color: #ddffd0;
}

/*!* Responsive layout - makes a two column-layout instead of four columns *!*/
/*@media screen and (max-width: 9999px) {*/
/*    .column {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 99999px) {
    .column {
        width: 75%;
    }
}


.special-button{
    display: inline-block;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.special-button:hover {background-color: #3e8e41}

.special-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* The sidepanel menu */
.sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(25, 79, 19, 0.21);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.custom-button {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    background-color: #267926; /* Green */
    border: 1px solid #3c3b3c;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 9vw;
    display: block;
    border-radius: 5px;
}
hr.home-hr {
    border: 7px solid #052300;
   border-radius: 5px;
}
.images1 {
    margin: 5vh 0 0 58vw;
    padding:0 2vh 0 1vh;
    width: 28vw;
    background: #3e8e41;
    border-radius: 20px;
}
.images2-1 {
    margin: 10vh 0 0 59vw;
    padding:0 2vh 0 1vh;
    width: 11vw;
    background: #3e8e41;
    border-radius: 20px;
}
.images2-2 {
    margin: 0 0 0 75vw;
    padding: 0 2vw  2vh 0;
    width: 11vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images3-1 {
    margin: 5vh 0 0 58vw;
    padding: 0 2vw  2vh 0;
    width: 14vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images3-2{
    margin: 5vh 0 0 68vw;
    padding: 0 2vw  2vh 0;
    width: 16vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images4-1 {
    margin: 5vh 0 0 58vw;
    padding: 0 2vw  2vh 0;
    width: 14vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images4-2 {
    margin: 5vh 0 0 68vw;
    padding: 0 2vw 2vh 0;
    width: 16vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0, -8vh);
}