body {
    background: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items:center;
    align-content: center;
    min-height: 101vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.pictures {
    display: flex;
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
#page1 {
    background-color: dodgerblue;
}
#page2 {
    background-color: #16ff1f;
}
#page3 {
    background-color: #d5ff1e;
}
#page4 {
    background-color: #ffba41;
}
#page5 {
    background-color: maroon;
}
.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.wave1 .shape-fill {
    fill: #4A90E2;
}
.hover_Mouse {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.rounded_Button {
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: mediumblue;
}
:root {
    --scroll: 0;
}
.top-section{
    position:sticky;
    top: 0;
    translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 /75);
    /*(oldval - oldmin) * newRange / oldRange + newMin*/
    --background-opacity: calc(-1% * min(var(--scroll), 50) * 100 / 50);
}
.top-section .left,
.top-section .right {
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;
    padding-left: 3rem;
}
.top-section {
      display: flex;
      text-align: center;
      padding: 0;
}
.top-section .left {
    background-color: rgb(248, 250, 249, var(--background-opacity));
}
.top-section .right {
    background: linear-gradient(
    210.65deg,
    rgb(152, 157, 157, var(--background-opacity)) 0%,
    rgb(189, 194, 194, var(--background-opacity)) 100%
    );
}
@media (width <= 1000px) {
    .top-section .right {
        display: none;
    }
}