body {
    background: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section {
    display: grid;
    place-items:center;
    align-content: center;
    min-height: 100vh;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
/* Add in to make the animation have the content slide in instead of fade in */
    transition: all 1.5s;
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
/* Add this in to have the animation to be undone,
 uncomment this with .hidden classes comment out */

}
.pictures {
    display: flex;
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
#content-zone-1 {
    color: dodgerblue;
    background-color: midnightblue;
}
#content-zone-2 {
    color: #9749ff;
    background-color: #9d1dff;
}
#content-zone-3 {
    color: #ff25be;
    background-color: #ff5fb8;
}